.Select {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.5rem;
    padding: 1rem 1.75rem 1rem 1rem;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .25rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L4 4L8 0H0Z' fill='%23121212'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 1rem top 50%;
    /* background-size: .65em auto; */
    cursor: pointer;
}
/* Hide arrow icon in IE browsers */
.Select::-ms-expand {
    display: none;
}
.Select--has-value {
    border-color: #121212;
}
.Select--has-error {
    color: #666666;
    border-color: #B50000;
}
.Select:hover {
    border-color: #121212;
    box-shadow: 0 0 0 1px #121212, 0px 4px 8px rgba(0, 0, 0, 0.08);
}
.Select:focus {
    color: #525252;
    border-color:#121212;
    box-shadow: 0 0 0 2px #cccccc;
    outline: none;
}
.Select__error {
    color: #B50000;
    font-size: .75rem;
    line-height: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 8px 0;
    position: relative;
    padding-left: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M6 0C4.81331 0 3.65328 0.351894 2.66658 1.01118C1.67989 1.67047 0.910851 2.60754 0.456725 3.7039C0.00259972 4.80026 -0.11622 6.00666 0.115291 7.17054C0.346802 8.33443 0.918247 9.40353 1.75736 10.2426C2.59648 11.0818 3.66557 11.6532 4.82946 11.8847C5.99335 12.1162 7.19975 11.9974 8.2961 11.5433C9.39246 11.0892 10.3295 10.3201 10.9888 9.33342C11.6481 8.34673 12 7.18669 12 6C12 5.21207 11.8448 4.43185 11.5433 3.7039C11.2418 2.97595 10.7998 2.31451 10.2426 1.75736C9.68549 1.20021 9.02406 0.758251 8.2961 0.456723C7.56815 0.155195 6.78793 0 6 0ZM6 11.2001C4.97153 11.2001 3.96615 10.8951 3.11101 10.3237C2.25586 9.7523 1.58936 8.94016 1.19578 7.98997C0.802197 7.03979 0.699218 5.99423 0.899864 4.98552C1.10051 3.97681 1.59577 3.05025 2.32301 2.323C3.05025 1.59576 3.97681 1.10051 4.98552 0.899861C5.99423 0.699216 7.03979 0.802194 7.98998 1.19577C8.94016 1.58935 9.7523 2.25586 10.3237 3.111C10.8951 3.96615 11.2001 4.97153 11.2001 6C11.1985 7.37866 10.6501 8.7004 9.67526 9.67525C8.7004 10.6501 7.37866 11.1985 6 11.2001Z' fill='%23B50000'/%3E%3Cpath d='M5.52002 2.5218H6.47978V3.48157H5.52002V2.5218Z' fill='%23B50000'/%3E%3Cpath d='M5.52002 4.67725H6.47978V9.47819H5.52002V4.67513V4.67725Z' fill='%23B50000'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 3px;

}
/* Disabled styles */
.Select:disabled,
.Select:disabled:hover,
.Select:disabled:focus,
.Select[aria-disabled=true] {
    cursor: not-allowed;
    color: #121212;
    border: 1px solid #121212;
    opacity: .3;
    box-shadow: none;
}
