.Components {
  position: relative;
  padding: 16px 0;

  h3 {
    margin-top: 56px;
  }
}
.with_padding  {
  padding: 0 24px;
}
.with_padding > * {
  margin-bottom: 16px;
}
.mini-select {
  width: 50%;
}
.mini-select > * {
  margin-bottom: 16px;
}
