.App {
  position: relative;
}

.with_padding  {
  padding: 0 24px;
}

.with_padding > * {
  margin-bottom: 16px;
}

.mini-select {
  width: 50%;
}
.mini-select > * {
  margin-bottom: 16px;
}

.App h3 {
  margin-top: 56px;
}
