.ImageCarousel {
    width: 100vw;
    position: relative;
    margin: 0 auto;
    margin-bottom: 16px;
    /* overflow-x: hidden; */
}

.ImageCarousel__container {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}


.ImageCarousel__viewbox {
    display: flex;
    height: 100%;
    margin-left: 20px;
}

.ImageCarousel__wrapper {
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0 4px;

}

.ImageCarousel__pagination {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-top: 14px;
    height: 16px;
}

.Image {
    position: relative;
    border-radius: 4px;
    background-color: #ccc;
    width: calc(100vw - 48px);
    padding: 0 4px;
    height: 100%;
}

.Image__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 200ms ease 50ms;
}

.Image__image--loaded-or-error {
    opacity: 1;
}

.Image__img-loader {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}